<div class="az-content az-content-dashboard">
  <div class="container">
    <div class="az-content-body">
      <div class="az-dashboard-one-title">
        <div>
          <h2 class="az-dashboard-title">Hi, welcome back!</h2>
          <p class="az-dashboard-text">Your apprisal dashboard view.</p>
        </div>
        <div class="az-content-header-right">
          <div class="media">
            <div class="media-body">
              <label>Today</label>
              <h6>Nov 11, 2021</h6>
            </div>
            <!-- media-body -->
          </div>
          <!-- media -->

          <a href="" class="btn btn-purple">Support</a>
        </div>
      </div>
      <!-- az-dashboard-one-title -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">dsfds</div>
    <div class="col-md-6">dsfds</div>
  </div>
  <!-- az-content -->
</div>
